In [97]:
import pandas as pd

In [98]:
cram_school = pd.read_csv("C:/Users/leow7/OneDrive/桌面/data analysis/sself-learning/cramschool.csv", encoding = 'big5', index_col=1)
# index col
cram_school

,項次,國中補校校數【統計數值】,國中補校班級數【統計數值】,國中補校學生數【統計數值】,國中補校上學年畢業生數【統計數值】,國小補校校數【統計數值】,國小補校班級數【統計數值】,國小補校學生數【統計數值】,國小補校上學年畢業生數【統計數值】
民國年,,,,,,,,,
103,1,12,38,526,129,16,73,1258,244
104,2,12,37,482,125,16,72,1267,338
106,4,12,37,519,80,16,69,1215,242
107,5,12,36,507,112,16,69,1228,255
108,6,12,36,518,107,16,69,1229,266
109,7,12,36,439,84,16,67,1069,208
110,8,12,36,425,85,16,67,866,270
111,9,12,36,396,91,16,67,773,168
112,10,12,36,408,71,16,67,785,187

In [99]:
fruits = {"Apple":[30],"Bananas":[21]}
fruits = pd.DataFrame(fruits)

In [100]:
ind = ["2017 Sales","2018 Sales"]
fruit_sales = {"Apples":[35,41],"Bananas":[21,34]}
fruit_sales = pd.DataFrame(fruit_sales, index =ind)

In [101]:
pd.Series(["4 cups","1 cup","2 large", "1 can"], index = ["Flour","Milk","Eggs","Spam"], name = "Dinner" )

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [102]:
pd.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'>

In [103]:
cows = pd.DataFrame.to_csv(fruits)

### Indexing, Selecting & Assigning## C

In [104]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [105]:
fruit_sales.Apples
## 作用相等
fruit_sales["Apples"]

2017 Sales    35
2018 Sales    41
Name: Apples, dtype: int64

In [106]:
fruit_sales['Apples'][0]

C:\Users\leow7\AppData\Local\Temp\ipykernel_7896\823875812.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  fruit_sales['Apples'][0]

np.int64(35)

In [107]:
fruit_sales.loc['2017 Sales']
#作用一樣
fruit_sales.iloc[0]

Apples     35
Bananas    21
Name: 2017 Sales, dtype: int64

#### iloc, loc ->  row-first, column-second.

In [108]:
fruit_sales.iloc[0][1]

C:\Users\leow7\AppData\Local\Temp\ipykernel_7896\2451846811.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  fruit_sales.iloc[0][1]

np.int64(21)

In [109]:
fruit_sales.iloc[:2,0]

2017 Sales    35
2018 Sales    41
Name: Apples, dtype: int64

## 11/1

In [110]:
from sklearn import datasets

In [111]:
cram = pd.read_csv('C:/Users/leow7/OneDrive/桌面/data analysis/sself-learning/cramschool.csv',encoding = 'big5')
cram

,項次,民國年,國中補校校數【統計數值】,國中補校班級數【統計數值】,國中補校學生數【統計數值】,國中補校上學年畢業生數【統計數值】,國小補校校數【統計數值】,國小補校班級數【統計數值】,國小補校學生數【統計數值】,國小補校上學年畢業生數【統計數值】
0,1,103,12,38,526,129,16,73,1258,244
1,2,104,12,37,482,125,16,72,1267,338
2,4,106,12,37,519,80,16,69,1215,242
3,5,107,12,36,507,112,16,69,1228,255
4,6,108,12,36,518,107,16,69,1229,266
5,7,109,12,36,439,84,16,67,1069,208
6,8,110,12,36,425,85,16,67,866,270
7,9,111,12,36,396,91,16,67,773,168
8,10,112,12,36,408,71,16,67,785,187

In [112]:
iris = datasets.load_iris()
print(iris.DESCR, '\n', "keys ",iris.keys())
iris.feature_names

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

 keys  dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [113]:
target_name_list = []
for i in range(150):
    target_name_list.append(iris.target_names[int(i/50)])
iris_table = pd.DataFrame(iris.data, columns = iris.feature_names, index = target_name_list)
iris_table

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
setosa,5.1,3.5,1.4,0.2
setosa,4.9,3.0,1.4,0.2
setosa,4.7,3.2,1.3,0.2
setosa,4.6,3.1,1.5,0.2
setosa,5.0,3.6,1.4,0.2
...,...,...,...,...
virginica,6.7,3.0,5.2,2.3
virginica,6.3,2.5,5.0,1.9
virginica,6.5,3.0,5.2,2.0
virginica,6.2,3.4,5.4,2.3
virginica,5.9,3.0,5.1,1.8

In [114]:
iris_table.loc['setosa', 'sepal length (cm)']

setosa    5.1
setosa    4.9
setosa    4.7
setosa    4.6
setosa    5.0
setosa    5.4
setosa    4.6
setosa    5.0
setosa    4.4
setosa    4.9
setosa    5.4
setosa    4.8
setosa    4.8
setosa    4.3
setosa    5.8
setosa    5.7
setosa    5.4
setosa    5.1
setosa    5.7
setosa    5.1
setosa    5.4
setosa    5.1
setosa    4.6
setosa    5.1
setosa    4.8
setosa    5.0
setosa    5.0
setosa    5.2
setosa    5.2
setosa    4.7
setosa    4.8
setosa    5.4
setosa    5.2
setosa    5.5
setosa    4.9
setosa    5.0
setosa    5.5
setosa    4.9
setosa    4.4
setosa    5.1
setosa    5.0
setosa    4.5
setosa    4.4
setosa    5.0
setosa    5.1
setosa    4.8
setosa    5.1
setosa    4.6
setosa    5.3
setosa    5.0
Name: sepal length (cm), dtype: float64

In [115]:
iris_table.loc[(iris_table.index == "setosa") & (iris_table["sepal length (cm)"]>5)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
setosa,5.1,3.5,1.4,0.2
setosa,5.4,3.9,1.7,0.4
setosa,5.4,3.7,1.5,0.2
setosa,5.8,4.0,1.2,0.2
setosa,5.7,4.4,1.5,0.4
setosa,5.4,3.9,1.3,0.4
setosa,5.1,3.5,1.4,0.3
setosa,5.7,3.8,1.7,0.3
setosa,5.1,3.8,1.5,0.3
setosa,5.4,3.4,1.7,0.2
setosa,5.1,3.7,1.5,0.4
setosa,5.1,3.3,1.7,0.5
setosa,5.2,3.5,1.5,0.2
setosa,5.2,3.4,1.4,0.2
setosa,5.4,3.4,1.5,0.4
setosa,5.2,4.1,1.5,0.1
setosa,5.5,4.2,1.4,0.2
setosa,5.5,3.5,1.3,0.2
setosa,5.1,3.4,1.5,0.2
setosa,5.1,3.8,1.9,0.4
setosa,5.1,3.8,1.6,0.2
setosa,5.3,3.7,1.5,0.2

In [116]:
iris_table.iloc[0,0]

np.float64(5.1)

In [117]:
iris_table.loc['setosa',"sepal length (cm)"]

setosa    5.1
setosa    4.9
setosa    4.7
setosa    4.6
setosa    5.0
setosa    5.4
setosa    4.6
setosa    5.0
setosa    4.4
setosa    4.9
setosa    5.4
setosa    4.8
setosa    4.8
setosa    4.3
setosa    5.8
setosa    5.7
setosa    5.4
setosa    5.1
setosa    5.7
setosa    5.1
setosa    5.4
setosa    5.1
setosa    4.6
setosa    5.1
setosa    4.8
setosa    5.0
setosa    5.0
setosa    5.2
setosa    5.2
setosa    4.7
setosa    4.8
setosa    5.4
setosa    5.2
setosa    5.5
setosa    4.9
setosa    5.0
setosa    5.5
setosa    4.9
setosa    4.4
setosa    5.1
setosa    5.0
setosa    4.5
setosa    4.4
setosa    5.0
setosa    5.1
setosa    4.8
setosa    5.1
setosa    4.6
setosa    5.3
setosa    5.0
Name: sepal length (cm), dtype: float64

In [118]:
iris_table.iloc[0:100]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
setosa,5.1,3.5,1.4,0.2
setosa,4.9,3.0,1.4,0.2
setosa,4.7,3.2,1.3,0.2
setosa,4.6,3.1,1.5,0.2
setosa,5.0,3.6,1.4,0.2
...,...,...,...,...
versicolor,5.7,3.0,4.2,1.2
versicolor,5.7,2.9,4.2,1.3
versicolor,6.2,2.9,4.3,1.3
versicolor,5.1,2.5,3.0,1.1
versicolor,5.7,2.8,4.1,1.3

In [119]:
iris_table.set_index('sepal length (cm)')

                   sepal width (cm)  petal length (cm)  petal width (cm)
sepal length (cm)
5.1                             3.5                1.4               0.2
4.9                             3.0                1.4               0.2
4.7                             3.2                1.3               0.2
4.6                             3.1                1.5               0.2
5.0                             3.6                1.4               0.2
...                             ...                ...               ...
6.7                             3.0                5.2               2.3
6.3                             2.5                5.0               1.9
6.5                             3.0                5.2               2.0
6.2                             3.4                5.4               2.3
5.9                             3.0                5.1               1.8

[150 rows x 3 columns]

In [120]:
iris_table['sepal length (cm)']>5

setosa        True
setosa       False
setosa       False
setosa       False
setosa       False
             ...
virginica     True
virginica     True
virginica     True
virginica     True
virginica     True
Name: sepal length (cm), Length: 150, dtype: bool

In [121]:
iris_table[(iris_table['sepal length (cm)'] > 5)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
setosa,5.1,3.5,1.4,0.2
setosa,5.4,3.9,1.7,0.4
setosa,5.4,3.7,1.5,0.2
setosa,5.8,4.0,1.2,0.2
setosa,5.7,4.4,1.5,0.4
...,...,...,...,...
virginica,6.7,3.0,5.2,2.3
virginica,6.3,2.5,5.0,1.9
virginica,6.5,3.0,5.2,2.0
virginica,6.2,3.4,5.4,2.3
virginica,5.9,3.0,5.1,1.8

In [122]:
iris_table["like"] = range(0,150)
iris_table

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,5.1,3.5,1.4,0.2,0
setosa,4.9,3.0,1.4,0.2,1
setosa,4.7,3.2,1.3,0.2,2
setosa,4.6,3.1,1.5,0.2,3
setosa,5.0,3.6,1.4,0.2,4
...,...,...,...,...,...
virginica,6.7,3.0,5.2,2.3,145
virginica,6.3,2.5,5.0,1.9,146
virginica,6.5,3.0,5.2,2.0,147
virginica,6.2,3.4,5.4,2.3,148
virginica,5.9,3.0,5.1,1.8,149

In [123]:
(iris_table.loc[:'setosa'])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,5.1,3.5,1.4,0.2,0
setosa,4.9,3.0,1.4,0.2,1
setosa,4.7,3.2,1.3,0.2,2
setosa,4.6,3.1,1.5,0.2,3
setosa,5.0,3.6,1.4,0.2,4
setosa,5.4,3.9,1.7,0.4,5
setosa,4.6,3.4,1.4,0.3,6
setosa,5.0,3.4,1.5,0.2,7
setosa,4.4,2.9,1.4,0.2,8
setosa,4.9,3.1,1.5,0.1,9
setosa,5.4,3.7,1.5,0.2,10
setosa,4.8,3.4,1.6,0.2,11
setosa,4.8,3.0,1.4,0.1,12
setosa,4.3,3.0,1.1,0.1,13
setosa,5.8,4.0,1.2,0.2,14
setosa,5.7,4.4,1.5,0.4,15
setosa,5.4,3.9,1.3,0.4,16
setosa,5.1,3.5,1.4,0.3,17
setosa,5.7,3.8,1.7,0.3,18
setosa,5.1,3.8,1.5,0.3,19
setosa,5.4,3.4,1.7,0.2,20
setosa,5.1,3.7,1.5,0.4,21
setosa,4.6,3.6,1.0,0.2,22
setosa,5.1,3.3,1.7,0.5,23
setosa,4.8,3.4,1.9,0.2,24
setosa,5.0,3.0,1.6,0.2,25
setosa,5.0,3.4,1.6,0.4,26
setosa,5.2,3.5,1.5,0.2,27
setosa,5.2,3.4,1.4,0.2,28
setosa,4.7,3.2,1.6,0.2,29
setosa,4.8,3.1,1.6,0.2,30
setosa,5.4,3.4,1.5,0.4,31
setosa,5.2,4.1,1.5,0.1,32
setosa,5.5,4.2,1.4,0.2,33
setosa,4.9,3.1,1.5,0.2,34
setosa,5.0,3.2,1.2,0.2,35
setosa,5.5,3.5,1.3,0.2,36
setosa,4.9,3.6,1.4,0.1,37
setosa,4.4,3.0,1.3,0.2,38
setosa,5.1,3.4,1.5,0.2,39
setosa,5.0,3.5,1.3,0.3,40
setosa,4.5,2.3,1.3,0.3,41
setosa,4.4,3.2,1.3,0.2,42
setosa,5.0,3.5,1.6,0.6,43
setosa,5.1,3.8,1.9,0.4,44
setosa,4.8,3.0,1.4,0.3,45
setosa,5.1,3.8,1.6,0.2,46
setosa,4.6,3.2,1.4,0.2,47
setosa,5.3,3.7,1.5,0.2,48
setosa,5.0,3.3,1.4,0.2,49

## 11/15

In [124]:
type(iris_table.loc[:"sepal length (cm)"])

pandas.core.frame.DataFrame

In [125]:
iris_table

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,5.1,3.5,1.4,0.2,0
setosa,4.9,3.0,1.4,0.2,1
setosa,4.7,3.2,1.3,0.2,2
setosa,4.6,3.1,1.5,0.2,3
setosa,5.0,3.6,1.4,0.2,4
...,...,...,...,...,...
virginica,6.7,3.0,5.2,2.3,145
virginica,6.3,2.5,5.0,1.9,146
virginica,6.5,3.0,5.2,2.0,147
virginica,6.2,3.4,5.4,2.3,148
virginica,5.9,3.0,5.1,1.8,149

In [126]:
(iris_table.iloc[0,:])

sepal length (cm)    5.1
sepal width (cm)     3.5
petal length (cm)    1.4
petal width (cm)     0.2
like                 0.0
Name: setosa, dtype: float64

In [127]:
(iris_table.iloc[0:2])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,5.1,3.5,1.4,0.2,0
setosa,4.9,3.0,1.4,0.2,1

In [128]:
iris_table.loc["setosa":"virginica"]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,5.1,3.5,1.4,0.2,0
setosa,4.9,3.0,1.4,0.2,1
setosa,4.7,3.2,1.3,0.2,2
setosa,4.6,3.1,1.5,0.2,3
setosa,5.0,3.6,1.4,0.2,4
...,...,...,...,...,...
virginica,6.7,3.0,5.2,2.3,145
virginica,6.3,2.5,5.0,1.9,146
virginica,6.5,3.0,5.2,2.0,147
virginica,6.2,3.4,5.4,2.3,148
virginica,5.9,3.0,5.1,1.8,149

In [129]:
iris_table.iloc[[0,2,3]]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,5.1,3.5,1.4,0.2,0
setosa,4.7,3.2,1.3,0.2,2
setosa,4.6,3.1,1.5,0.2,3

## 12/06

In [130]:
iris_table["sepal length (cm)"].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal length (cm), dtype: float64

In [131]:
like_mean = iris_table.like.mean()
like_mean

np.float64(74.5)

In [132]:
iris_table

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,5.1,3.5,1.4,0.2,0
setosa,4.9,3.0,1.4,0.2,1
setosa,4.7,3.2,1.3,0.2,2
setosa,4.6,3.1,1.5,0.2,3
setosa,5.0,3.6,1.4,0.2,4
...,...,...,...,...,...
virginica,6.7,3.0,5.2,2.3,145
virginica,6.3,2.5,5.0,1.9,146
virginica,6.5,3.0,5.2,2.0,147
virginica,6.2,3.4,5.4,2.3,148
virginica,5.9,3.0,5.1,1.8,149

In [133]:
iris_table.like.map(lambda p:p-like_mean)
iris_table["sepal length (cm)"].mean()

np.float64(5.843333333333334)

In [134]:
#iris_table.like.map(lambda x:x-like_mean)

### 12/13

In [137]:
iris_table.like = iris_table.like.map(lambda x: x-like_mean)
iris_table

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,5.1,3.5,1.4,0.2,-149.0
setosa,4.9,3.0,1.4,0.2,-148.0
setosa,4.7,3.2,1.3,0.2,-147.0
setosa,4.6,3.1,1.5,0.2,-146.0
setosa,5.0,3.6,1.4,0.2,-145.0
...,...,...,...,...,...
virginica,6.7,3.0,5.2,2.3,-4.0
virginica,6.3,2.5,5.0,1.9,-3.0
virginica,6.5,3.0,5.2,2.0,-2.0
virginica,6.2,3.4,5.4,2.3,-1.0
virginica,5.9,3.0,5.1,1.8,0.0

In [145]:
def remean(row):
    row.like -= like_mean
    row["sepal length (cm)"] -= 10
    return row
iris_table.apply(remean, axis = 1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),like
setosa,-4.9,3.5,1.4,0.2,-223.5
setosa,-5.1,3.0,1.4,0.2,-222.5
setosa,-5.3,3.2,1.3,0.2,-221.5
setosa,-5.4,3.1,1.5,0.2,-220.5
setosa,-5.0,3.6,1.4,0.2,-219.5
...,...,...,...,...,...
virginica,-3.3,3.0,5.2,2.3,-78.5
virginica,-3.7,2.5,5.0,1.9,-77.5
virginica,-3.5,3.0,5.2,2.0,-76.5
virginica,-3.8,3.4,5.4,2.3,-75.5
virginica,-4.1,3.0,5.1,1.8,-74.5